<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>

<body>
	<section>
		<div class="container mt-5">
			<div class="row">
				<div class="col-md-5 mx-auto">
					<div id="first">
						<div class="myform form ">
							<div class="logo mb-3">
								<!--message start-->
								<div class="container text-center" th:if="${session.message}">
									<div class="alert alert-danger" role="alert">
										<span th:text="${session.message}"></span>
									</div>
								</div>
								<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
								<!--message end-->
								<div class="col-md-12 text-center">
									<h2 class="text-center">Forgot Password ?</h2>
								</div>
							</div>

							<form th:action="@{/send-otp}" method="post">
								<div class="form-group">
									<label for="exampleInputEmail1">Email address</label>
									<input name="email" type="email" class="form-control" id="email"
										aria-describedby="emailHelp" placeholder="Enter email" required>
								</div>

								<div class="container text-center">
									<button type="submit" class="btn btn-lg bg-primary mybtn text-white">Send
										OTP</button>
								</div>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
</body>

</html>