<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>

<body>
	<section>
		<div class="contaner">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="my-card mt-3">
						<div th:if="${session.message}" class="alert" th:classappend="${session.message.type}"
							role="alert">
							<p class="text-center" th:text="${session.message.content}"></p>
							<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>

						</div>
						<div class="container text-center">
							<img src="" th:src="@{/img/contract.png}" width="80px" alt="" />
						</div>
						<h1 class="text-center">Register Here !!</h1>
						<form action="" th:action="@{/do_register}" method="post" th:object="${user}">
							<div class="form-group"><label for="exampleInputEmail1">Enter Name</label>
								<input type="text" name="name" class="form-control" id="exampleInputEmail1"
									th:value="${user.name}" aria-describedby="emailHelp"
									placeholder="Enter your name..."
									th:classappend="${#fields.hasErrors('name')?'is-invalid':''}">
								<div id="validationServer03Feedback" class="invalid-feedback"
									th:each="e : ${#fields.errors('name')}" th:text="${e}">
								</div>

							</div>
							<div class="form-group"><label for="exampleInputEmail1">Email address</label>
								<input type="email" name="email" class="form-control" id="exampleInputEmail1"
									th:value="${user.email}"
									th:classappend="${#fields.hasErrors('email')?'is-invalid':''}"
									aria-describedby="emailHelp" placeholder="Enter your email address...">
								<div id="validationServer03Feedback" class="invalid-feedback"
									th:each="e : ${#fields.errors('email')}" th:text="${e}">
								</div>
							</div>
							<div class="form-group"><label for="exampleInputEmail1">Email Password</label>
								<input type="password" name="password" class="form-control" id="exampleInputEmail1"
									th:value="${user.password}" aria-describedby="emailHelp"
									placeholder="Enter your password...">
							</div>
							<div class="form-group">
								<label for="exampleFormControlTextarea1">About Yourself</label>
								<textarea class="form-control" name="about" id="exampleFormControlTextarea1" rows="5"
									th:text="${user.about}" placeholder="Enter something about yourself"></textarea>
							</div>

							<div class="form-group form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1" name="agreement">
								<label class="form-check-label" for="exampleCheck1">Agree Terms and Conditions</label>
							</div>
							<div class="container text-center">
								<button type="submit" class="btn btn-lg bg-primary mybtn text-white">Submit</button>
								<button type="reset" class="btn btn-lg bg-warning mybtn  text-white">Reset</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>