<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>

<body>
	<section style="color: black;">

		<div class="container text-center">

			<div class="card">

				<div class="card-body">
					<img style="height: 150px; width: 150px;" class="my_profile_picture"
						th:src="@{'/img/'+${user.imageUrl}}" alt="" />
					<h1 class="text-center" th:text="${user.name}"></h1>
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">Field</th>
								<th scope="col">Description</th>

							</tr>
						</thead>
						<tbody>
							<tr>
								<td>USERID</td>
								<th scope="row"><span th:text="'SCM_USER'+${user.id}"></span></th>
							</tr>
							<tr>
								<td>Email</td>
								<th scope="row"><span th:text="${user.email}"></span></th>
							</tr>
							<tr>
								<td>Role</td>
								<th scope="row"><span th:text="${user.role}"></span></th>
							</tr>
							<tr>
								<td>Account Active</td>
								<th scope="row"><span th:text="${user.enabled}"></span></th>
							</tr>

						</tbody>
					</table>



				</div>
			</div>
		</div>


	</section>
</body>

</html>